.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.productsContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.product {
  padding: 20px;
  border: 1px solid #646cff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: aliceblue;
  color: navy;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-block: 20px;
}
button:disabled {
  display: none;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
