.App {
  border: 2px solid blueviolet;
  margin-inline: 10rem;
  padding: 1rem;
  background: #c2bcef28;

  & h1 {
    margin-bottom: 3rem;
    width: 100%;
    background-color: rgba(200, 236, 200, 0.793);
    padding: 1rem;
  }
}

img {
  width: 15rem;
}
